lud/lud.exactedDiagnosesService.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by MESMERiZE (MSM) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:uctx="http://emias.mos.ru/system/v1/userContext/"
                  xmlns:nsf="http://emias.mos.ru/system/v1/faults/"
                  xmlns:ns1="http://emias.mos.ru/lud/exactedDiagnosesService/v1/types/"
                  xmlns:tns="http://emias.mos.ru/lud/exactedDiagnosesService/v1/"
                  name="exactedDiagnosesService" targetNamespace="http://emias.mos.ru/lud/exactedDiagnosesService/v1/">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://emias.mos.ru/system/v1/userContext/"
                       schemaLocation="core/emias.system.v1.userContext.xsd"/>
            <xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="core/emias.system.v1.faults.xsd"/>
            <xs:import namespace="http://emias.mos.ru/lud/exactedDiagnosesService/v1/types/"
                       schemaLocation="lud.exactedDiagnosesService.v1.types.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fault">
        <wsdl:documentation>Ошибка</wsdl:documentation>
        <wsdl:part name="body" element="nsf:fault"/>
    </wsdl:message>
    <wsdl:message name="userContext">
        <wsdl:documentation>Контекст пользователя</wsdl:documentation>
        <wsdl:part name="userContext" element="uctx:userContext"/>
    </wsdl:message>
    <wsdl:message name="getExactedDiagnosisInput">
        <wsdl:part name="body" element="ns1:getExactedDiagnosisRequest"/>
    </wsdl:message>
    <wsdl:message name="getExactedDiagnosisOutput">
        <wsdl:part name="body" element="ns1:getExactedDiagnosisResponse"/>
    </wsdl:message>
    <wsdl:portType name="exactedDiagnosesServicePortType">
        <wsdl:operation name="getExactedDiagnosis">
            <wsdl:documentation>Метод для получения списка уточненных диагнозов</wsdl:documentation>
            <wsdl:input message="tns:getExactedDiagnosisInput"/>
            <wsdl:output message="tns:getExactedDiagnosisOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="exactedDiagnosesServiceBinding" type="tns:exactedDiagnosesServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getExactedDiagnosis">
            <soap:operation soapAction="getExactedDiagnosis" soapActionRequired="true"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="exactedDiagnosesService">
        <wsdl:documentation>Сервис "Уточнённые диагнозы пациентов"</wsdl:documentation>
        <wsdl:port name="exactedDiagnosesServicePortType" binding="tns:exactedDiagnosesServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
