lud/lud.inquiryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by MESMERiZE (MSM) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:uctx="http://emias.mos.ru/system/v1/userContext/"
                  xmlns:nsf="http://emias.mos.ru/system/v1/faults/"
                  xmlns:ns1="http://emias.mos.ru/lud/inquiryService/v1/types/"
                  xmlns:tns="http://emias.mos.ru/lud/inquiryService/v1/" name="inquiryService"
                  targetNamespace="http://emias.mos.ru/lud/inquiryService/v1/">
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://emias.mos.ru/system/v1/userContext/"
                       schemaLocation="core/emias.system.v1.userContext.xsd"/>
            <xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="core/emias.system.v1.faults.xsd"/>
            <xs:import namespace="http://emias.mos.ru/lud/inquiryService/v1/types/"
                       schemaLocation="lud.inquiryService.v1.types.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="fault">
        <wsdl:documentation>Ошибка</wsdl:documentation>
        <wsdl:part name="body" element="nsf:fault"/>
    </wsdl:message>
    <wsdl:message name="userContext">
        <wsdl:documentation>Контекст пользователя</wsdl:documentation>
        <wsdl:part name="userContext" element="uctx:userContext"/>
    </wsdl:message>
    <wsdl:message name="getPositionNomByPatientIdInput">
        <wsdl:part name="body" element="ns1:getPositionNomByPatientIdRequest"/>
    </wsdl:message>
    <wsdl:message name="getPositionNomByPatientIdOutput">
        <wsdl:part name="body" element="ns1:getPositionNomByPatientIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getMkb10ByPatientIdInput">
        <wsdl:part name="body" element="ns1:getMkb10ByPatientIdRequest"/>
    </wsdl:message>
    <wsdl:message name="getMkb10ByPatientIdOutput">
        <wsdl:part name="body" element="ns1:getMkb10ByPatientIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getPrimaryDateByPatientIdInput">
        <wsdl:part name="body" element="ns1:getPrimaryDateByPatientIdRequest"/>
    </wsdl:message>
    <wsdl:message name="getPrimaryDateByPatientIdOutput">
        <wsdl:part name="body" element="ns1:getPrimaryDateByPatientIdResponse"/>
    </wsdl:message>
    <wsdl:portType name="inquiryServicePortType">
        <wsdl:operation name="getPositionNomByPatientId">
            <wsdl:documentation>Метод для получения списка специальностей</wsdl:documentation>
            <wsdl:input message="tns:getPositionNomByPatientIdInput"/>
            <wsdl:output message="tns:getPositionNomByPatientIdOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getMkb10ByPatientId">
            <wsdl:documentation>Метод для получения списка диагнозов по МКБ-10</wsdl:documentation>
            <wsdl:input message="tns:getMkb10ByPatientIdInput"/>
            <wsdl:output message="tns:getMkb10ByPatientIdOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
        <wsdl:operation name="getPrimaryDateByPatientId">
            <wsdl:documentation>Метод для получения первой даты постановки диагноза</wsdl:documentation>
            <wsdl:input message="tns:getPrimaryDateByPatientIdInput"/>
            <wsdl:output message="tns:getPrimaryDateByPatientIdOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="inquiryServiceBinding" type="tns:inquiryServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getPositionNomByPatientId">
            <soap:operation soapAction="getPositionNomByPatientId" soapActionRequired="true"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getMkb10ByPatientId">
            <soap:operation soapAction="getMkb10ByPatientId" soapActionRequired="true"/>
            <wsdl:input>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getPrimaryDateByPatientId">
            <soap:operation soapAction="getPrimaryDateByPatientId" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:userContext" part="userContext" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="inquiryService">
        <wsdl:documentation>Сервис для предоставления справочной информации по Уточненным диагнозам</wsdl:documentation>
        <wsdl:port name="inquiryServicePortType" binding="tns:inquiryServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
