imd/improve-emiasimd-151/wsdl/imd.aggregationMedicalDocumentService.v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:uctx="http://emias.mos.ru/system/v1/userContext/" xmlns:nsf="http://emias.mos.ru/system/v1/faults/" xmlns:ns1="http://emias.mos.ru/imd/aggregationMedicalDocumentService/v2/types/" xmlns:tns="http://emias.mos.ru/imd/aggregationMedicalDocumentService/v2/" xmlns:ns="http://emias.mos.ru/imd/core/v2/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://emias.mos.ru/imd/aggregationMedicalDocumentService/v1/" name="aggregationMedicalDocumentService" targetNamespace="http://emias.mos.ru/imd/aggregationMedicalDocumentService/v2/">
	<wsdl:documentation>Версия 2.0.0</wsdl:documentation>
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://emias.mos.ru/system/v1/userContext/" schemaLocation="emias.system.v1.userContext.xsd"/>
			<xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="emias.system.v1.faults.xsd"/>
			<xs:import namespace="http://emias.mos.ru/imd/aggregationMedicalDocumentService/v2/types/" schemaLocation="imd.aggregationMedicalDocumentService.v2.types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fault">
		<wsdl:documentation>Ошибка</wsdl:documentation>
		<wsdl:part name="body" element="nsf:fault"/>
	</wsdl:message>
	<wsdl:message name="userContext">
		<wsdl:documentation>Контекст пользователя</wsdl:documentation>
		<wsdl:part name="userContext" element="uctx:userContext"/>
	</wsdl:message>
	<wsdl:message name="getSupdDocumentInput">
		<wsdl:part name="body" element="ns1:getSupdDocumentRequest"/>
	</wsdl:message>
	<wsdl:message name="getSupdDocumentOutput">
		<wsdl:part name="body" element="ns1:getSupdDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="getEpircisisNewBornDocumentInput">
		<wsdl:part name="body" element="ns1:getEpicrisisNewBornDocumentRequest"/>
	</wsdl:message>
	<wsdl:message name="getEpicrisisNewBornDocumentOutput">
		<wsdl:part name="body" element="ns1:getEpicrisisNewBornDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="getIdentifiedDocumentInput">
		<wsdl:part name="body" element="ns1:getIdentifiedDocumentRequest"/>
	</wsdl:message>
	<wsdl:message name="getIdentifiedDocumentOutput">
		<wsdl:part name="body" element="ns1:getIndetifiedDocumentResponse"/>
	</wsdl:message>
	<wsdl:message name="getPmpcDocumentInput">
		<wsdl:part name="body" element="ns1:getPmpcDocumentRequest"/>
	</wsdl:message>
	<wsdl:message name="getPmpcDocumentOutput">
		<wsdl:part name="body" element="ns1:getPmpcDocumentResponse"/>
	</wsdl:message>
	<wsdl:portType name="aggregationMedicalDocumentServicePortType">
		<wsdl:operation name="getSupdDocument">
			<wsdl:documentation>Метод предоставления документов СУПД</wsdl:documentation>
			<wsdl:input message="tns:getSupdDocumentInput"/>
			<wsdl:output message="tns:getSupdDocumentOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getEpicrisisNewBornDocument">
			<wsdl:documentation>Метод предоставления Эпикризов новорожденных</wsdl:documentation>
			<wsdl:input message="tns:getEpircisisNewBornDocumentInput"/>
			<wsdl:output message="tns:getEpicrisisNewBornDocumentOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getIdentifiedDocument">
			<wsdl:documentation>Метод предоставления идентифицированных документов</wsdl:documentation>
			<wsdl:input message="tns:getIdentifiedDocumentInput"/>
			<wsdl:output message="tns:getIdentifiedDocumentOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
		<wsdl:operation name="getPmpcDocument">
			<wsdl:documentation>Метод предоставляения пмпк документов</wsdl:documentation>
			<wsdl:input message="tns:getPmpcDocumentInput"/>
			<wsdl:output message="tns:getPmpcDocumentOutput"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="aggregationMedicalDocumentServiceBinding" type="tns:aggregationMedicalDocumentServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSupdDocument">
			<soap:operation soapAction="getSupdDocument" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEpicrisisNewBornDocument">
			<soap:operation soapAction="getEpicrisisNewBornDocument" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getIdentifiedDocument">
			<soap:operation soapAction="getIdentificationDocument" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getPmpcDocument">
			<soap:operation soapAction="getPmpcDocument" soapActionRequired="true"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="aggregationMedicalDocumentService">
		<wsdl:documentation>Сервис предоставления документов  </wsdl:documentation>
		<wsdl:port name="aggregationMedicalDocumentServicePortType" binding="tns:aggregationMedicalDocumentServiceBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
