mgomfs-petkt/wsdl/emias.core.address.v1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:include schemaLocation="emias.system.v1.xsd"/>
    <!--Типы для наименований-->
    <xs:complexType name="Names">
        <xs:annotation>
            <xs:documentation>Наименования</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="full" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Полное наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="short" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Краткое наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameWithType">
        <xs:annotation>
            <xs:documentation>Наименование имеющее тип</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="Names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Тип</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--Абстракные типы для Адресов различных сущностей в ЕМИАС-->
    <xs:complexType name="AddressLevelBaseType" abstract="true">
        <xs:annotation>
            <xs:documentation>Базовый абстрактный тип с описанием уровня адреса</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="NameWithType">
                <xs:attribute name="id" type="ID" use="optional">
                    <xs:annotation>
                        <xs:documentation>global_id ЕМИАС.НСИ</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="code" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AddressLevelWithFiasBaseType" abstract="true">
        <xs:annotation>
            <xs:documentation>Базовый абстрактный тип с описанием уровня адреса, сведения окотором могут быть в ФИАС</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelBaseType">
                <xs:attribute name="fiasGuid" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор ФИАС</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AddressLevelRequiredRegistry" abstract="true">
        <xs:annotation>
            <xs:documentation>Базовый абстрактный тип с описанием уровня адреса, сведения о котором обязательно присутствуют в АДресном реестре ЕМИАС</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="AddressLevelBaseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="type" type="Names" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Тип</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="ID" use="required">
                    <xs:annotation>
                        <xs:documentation>global_id ЕМИАС.НСИ</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="code" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AddressBaseType" abstract="true">
        <xs:annotation>
            <xs:documentation>Базовый абстрактный тип со сведениями об Адресе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="addressString" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Полное наименование адреса (адрес строкой)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="region" type="Region">
                <xs:annotation>
                    <xs:documentation>Сведения о регионе (субъекте РФ)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="regionOMKTE" type="RegionOMKTE" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения об округе (по ОМК ТЕ)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="area" type="Area" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о районе в регионе (субъекте РФ)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaOMKTE" type="AreaOMKTE" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения об округе (по ОМК ТЕ)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="City" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о городе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="place" type="Place" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о населенном пункте</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="plan" type="Plan" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о планировочной структуре</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="street" type="Street" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения об улице</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="building" type="Building" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о здании/сооружении</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="globalIdNsi" type="ID">
            <xs:annotation>
                <xs:documentation>Уникальный идентификатор адреса в ЕМИАС.НСИ</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="aoLevel" type="xs:string">
            <xs:annotation>
                <xs:documentation>Уровень адресного объекта (по уровням Адресного реестра НСИ)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fiasGuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Идентификатор ФИАС</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="codePostal" type="xs:string">
            <xs:annotation>
                <xs:documentation>Почтовый индекс</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="codeKLADR" type="xs:string">
            <xs:annotation>
                <xs:documentation>Код КЛАДР</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nonActualAddress" type="xs:string">
            <xs:annotation>
                <xs:documentation>Неактуальный адрес (сведения из ЕМИАС.НСИ)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AddressRegistryBaseType">
        <xs:annotation>
            <xs:documentation>Базовый абстрактный тип со сведениями об Адресе из Адресного реестра ЕМИАС</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="AddressBaseType">
                <xs:sequence>
                    <xs:element name="addressString" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Полное наименование адреса (адрес строкой)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="region" type="Region">
                        <xs:annotation>
                            <xs:documentation>Сведения о регионе (субъекте РФ)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="regionOMKTE" type="RegionOMKTE" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения об округе (по ОМК ТЕ)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="area" type="Area" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о районе в регионе (субъекте РФ)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="areaOMKTE" type="AreaOMKTE" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения об округе (по ОМК ТЕ)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="city" type="City" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о городе</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="place" type="Place" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о населенном пункте</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="plan" type="Plan" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о планировочной структуре</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="street" type="Street" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения об улице</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="building" type="Building" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о здании/сооружении</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="globalIdNsi" type="ID" use="required">
                    <xs:annotation>
                        <xs:documentation>Уникальный идентификатор адреса в ЕМИАС.НСИ</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="aoLevel" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Уровень адресного объекта (по уровням Адресного реестра НСИ)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fiasGuid" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор ФИАС</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codePostal" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Почтовый индекс</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="codeKLADR" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код КЛАДР</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="nonActualAddress" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Неактуальный адрес (сведения из ЕМИАС.НСИ)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AddressCustomType">
        <xs:annotation>
            <xs:documentation>Сведения об Адресе, отсутствующем в Адресном реестре ЕМИАС</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="flat" type="Flat" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о квартире/ офисе/проч.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="roomNumber" type="Room" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Сведения о комнате/ помещении</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="ID" use="optional">
                    <xs:annotation>
                        <xs:documentation>Идентификатор адреса в продукте ЕМИАС (не в НСИ)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--Типы со сведениями о различных уровнях адреса-->
    <xs:complexType name="Region">
        <xs:annotation>
            <xs:documentation>Сведения о регионе (субъекте РФ)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelRequiredRegistry">
                <xs:attribute name="fiasGuid" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор ФИАС</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RegionOMKTE">
        <xs:annotation>
            <xs:documentation>Сведения об округе (по ОМК ТЕ)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelRequiredRegistry">
                <xs:sequence minOccurs="0">
                    <xs:element name="shortName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Краткое наименование округа (по ОМК ТЕ)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Area">
        <xs:annotation>
            <xs:documentation>Сведения о районе в регионе (субъекте РФ)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelWithFiasBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="codeOMKTE" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код ОМК ТЕ района</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="codeBTI" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БТИ код района</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AreaOMKTE">
        <xs:annotation>
            <xs:documentation>Сведения о районе (по ОМК ТЕ)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelBaseType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="City">
        <xs:annotation>
            <xs:documentation>Сведения о городе</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelWithFiasBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="codeOMKTM" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код ОМК ТМ города</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="codeBTI" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БТИ код города</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Place">
        <xs:annotation>
            <xs:documentation>Сведения о населенном пункте</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelWithFiasBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="codeOMKTM" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код ОМК ТМ населённого пункта </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="codeBTI" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БТИ код населённого пункта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Plan">
        <xs:annotation>
            <xs:documentation>Сведения о планировочной структуре</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelWithFiasBaseType">
                <xs:sequence>
                    <xs:element name="codeBTI" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БТИ код элемента планировочной структуры</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Street">
        <xs:annotation>
            <xs:documentation>Сведения об улице</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="AddressLevelWithFiasBaseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="codeOMKUM" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Код ОМК УМ улицы</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="codeBTI" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>БТИ код улицы</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Building">
        <xs:annotation>
            <xs:documentation>Сведения о здании/сооружении</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="house" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дом/владение</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="NameWithType">
                            <xs:sequence>
                                <xs:element name="name" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Номер</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="type" type="Names" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Тип</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="build" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Корпус</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="NameWithType">
                            <xs:sequence>
                                <xs:element name="name" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Номер</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="type" type="Names" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Тип</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="construction" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Строение, сооружение</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:restriction base="NameWithType">
                            <xs:sequence>
                                <xs:element name="name" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Номер</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="type" type="Names" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Тип</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:restriction>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="class" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Класс строения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geoData" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Геоданные объекта в формате ESRI-json</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="numberOfStoreys" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Этажность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="yearOfConstruction" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Год постройки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="emergency" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Признак аварийности здания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cadastralNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер объекта недвижимости</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="fiasGuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Идентификатор ФИАС</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UNOM" type="xs:long">
            <xs:annotation>
                <xs:documentation>Учётный номер объекта адресации в БД БТИ</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Flat">
        <xs:annotation>
            <xs:documentation>Сведения о квартире/офисе</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="AddressLevelWithFiasBaseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Номер</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="type" type="Names" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Тип</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Room">
        <xs:annotation>
            <xs:documentation>Сведения о комнате/помещении</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="AddressLevelWithFiasBaseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Номер</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="type" type="Names" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Тип</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>