lud/external/push-accepter/pushaccepterProduct.pushaccepterService.v1.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://emias.mos.ru/pushaccepterProduct/pushaccepterService/v1/types/" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xs:element name="ChangeElement">
        <xs:annotation>
            <xs:documentation>Входные параметры метода ChangeElement</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="in" type="xs:string"/>
                <xs:element name="intype" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResponseElement">
        <xs:annotation>
            <xs:documentation>Выходные параметры метода ResponseElement</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="out" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>