quarantine/wsdl/v.1.00/service.types/quarantine.quarantineCommandService.v1.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://emias.mos.ru/quarantine/core/v1/" xmlns:query="http://emias.mos.ru/quarantine/queryExpression/v1" xmlns:tns="http://emias.mos.ru/quarantine/quarantineCommandService/v1/types/" targetNamespace="http://emias.mos.ru/quarantine/quarantineCommandService/v1/types/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://emias.mos.ru/quarantine/core/v1/" schemaLocation="../service.core/quarantine.core.v1.xsd"/>
	<!--View-->
	<xs:complexType name="TreatmentView">
		<xs:annotation>
			<xs:documentation>Представление мероприятия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eventId" type="xs:long">
				<xs:annotation>
					<xs:documentation>Идентификатор мероприятия (мастре система сторонний продукт)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Дата планируемого мероприятия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="particiaptionId" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор участия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ParticipationsCollectionView">
		<xs:annotation>
			<xs:documentation>Представление коллекции участий</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="participations">
				<xs:annotation>
					<xs:documentation>Коллекция участий</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="participation" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Участие</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="core:result"/>
									<xs:element name="info" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Информация о результате</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="participationId" type="core:ID">
										<xs:annotation>
											<xs:documentation>Ид участия</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolyclinicParticipationView">
		<xs:annotation>
			<xs:documentation>Представление поликлинического участия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="core:EParticipationType">
				<xs:annotation>
					<xs:documentation>Тип участия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emiasId" type="core:ID">
				<xs:annotation>
					<xs:documentation>Идентификатор пациента ЕМИАС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isNotificated" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Признак нотификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="quarantineId" type="core:ID" use="required"/>
	</xs:complexType>
	<!--метод updateQuarantineState (Обновление карантина)-->
	<xs:complexType name="UpdateQuarantineStateRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода updateQuarantine</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="quarantineId" type="core:ID">
				<xs:annotation>
					<xs:documentation>Идентификатор карантина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="participationId" type="core:ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор участия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Повод смены статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateQuarantineStateResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода updateQuarantine</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="core:result"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод archiveQuarantineParticipations (Архиваций участий в рамках карантина)-->
	<xs:complexType name="ArchiveQuarantineParticipationsRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода archiveQuarantineParticipation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="participations">
				<xs:annotation>
					<xs:documentation>Коллекция участий</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="participationId" type="core:ID" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Идентификатор участия</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="quarantineId" type="core:ID" use="required">
						<xs:annotation>
							<xs:documentation>Идентификатор карантина</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArchiveQuarantineParticipationsResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода archiveQuarantineParticipation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="tns:ParticipationsCollectionView"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод updateArchiveQuarantineParticipations (Обновление архивности участий в рамках карантина)-->
	<xs:complexType name="UpdateArchiveQuarantineParticipationsRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода updateArchiveQuarantineParticipations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="participations">
				<xs:annotation>
					<xs:documentation>Коллекция Участий</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="participationId" type="core:ID" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Идентификатор участия</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="quarantineId" type="core:ID" use="required">
						<xs:annotation>
							<xs:documentation>Идентификатор карантина</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateArchiveQuarantineParticipationsResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода updateArchiveQuarantineParticipations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="tns:ParticipationsCollectionView"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод depreceateQuarantine (Прекращение карантина)-->
	<xs:complexType name="DepreceateQuarantineRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода depreceateQuarantine</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="quarantineId" type="core:ID">
				<xs:annotation>
					<xs:documentation>Идентификатор карантина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepreceateQuarantineResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода depreceateQuarantine</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="core:result"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод pushParticipationNotification(Отправка уведомлений по персоне в рамках карантина)-->
	<xs:complexType name="PushParticipationNotificationRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода pushParticipationNotification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="core:ENotificationType">
				<xs:annotation>
					<xs:documentation>Тип уведомлений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quarantineId" type="core:ID">
				<xs:annotation>
					<xs:documentation>Идентификатор карантина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="persons" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коллекция персон</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personId" type="xs:long" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Идентификатор персоны (Мастер система ЕМИАС.Карантины)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PushParticipationNotificationResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода pushParticipationNotification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="tns:ParticipationsCollectionView"/>
		</xs:sequence>
	</xs:complexType>
	<!--Обновление мероприятия в рамках участия-->
	<xs:complexType name="CreateParticipationTreatmentRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода ParticipationTreatment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="treatment" type="tns:TreatmentView"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateParticiaptionTreatmentResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода ParticipationTreatment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="core:TreatmentShort"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод pushQuarantineNotification (Отправка уведомление по карантину))-->
	<xs:complexType name="PushQuarantineNotificationRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода pushQuarantineNotification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="core:ENotificationType">
				<xs:annotation>
					<xs:documentation>Тип уведомлений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quarantineId" type="core:ID">
				<xs:annotation>
					<xs:documentation>Идентификатор карантина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="core:options" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PushQuarantineNotificationResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода pushQuarantineNotification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="core:result"/>
		</xs:sequence>
	</xs:complexType>
	<!--метод createParticipation (Создания участия по карантину в рамках МЖ)-->
	<xs:complexType name="CreatePolyclinicParticipationRequest">
		<xs:annotation>
			<xs:documentation>Входные параметры для метода createParticipation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="participation" type="tns:PolyclinicParticipationView"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreatePolyclinicParticipationResponse">
		<xs:annotation>
			<xs:documentation>Выходные параметры для метода createParticipation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="core:result"/>
		</xs:sequence>
	</xs:complexType>
	<!--Элементы-->
	<xs:element name="updateQuarantineStateRequest" type="tns:UpdateQuarantineStateRequest"/>
	<xs:element name="updateQuarantineStateResponse" type="tns:UpdateQuarantineStateResponse"/>
	<xs:element name="archiveQuarantineParticipationsRequest" type="tns:ArchiveQuarantineParticipationsRequest"/>
	<xs:element name="archiveQuarantineParticipationsResponse" type="tns:ArchiveQuarantineParticipationsResponse"/>
	<xs:element name="updateArchiveQuarantineParticipationsRequest" type="tns:UpdateArchiveQuarantineParticipationsRequest"/>
	<xs:element name="updateArchiveQuarantineParticipationsResponse" type="tns:UpdateArchiveQuarantineParticipationsResponse"/>
	<xs:element name="depreceateQuarantineRequest" type="tns:DepreceateQuarantineRequest"/>
	<xs:element name="depreceateQuarantineResponse" type="tns:DepreceateQuarantineResponse"/>
	<xs:element name="pushParticipationNotificationRequest" type="tns:PushParticipationNotificationRequest"/>
	<xs:element name="pushParticipationNotificationResponse" type="tns:PushParticipationNotificationResponse"/>
	<xs:element name="createParticipationTreatmentRequest" type="tns:CreateParticipationTreatmentRequest"/>
	<xs:element name="createParticiaptionTreatmentResponse" type="tns:CreateParticiaptionTreatmentResponse"/>
	<xs:element name="сreatePolyclinicParticipationRequest" type="tns:CreatePolyclinicParticipationRequest"/>
	<xs:element name="сreatePolyclinicParticipationResponse" type="tns:CreatePolyclinicParticipationResponse"/>
</xs:schema>
